

/* Desktop Styles */
@media only screen and (min-width: 991px) {

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }





 .navigation.isopen
   {
	 transform: translateX(0%);
  -webkit-transform: translateX(0%);
   }


.navigation {
	position: fixed;
	right: 0;
    background: #333;
    width: 20%;
    height: 100%;
    transform: translateX(100%);
   -webkit-transform: translateX(100%);
    transition: transform .6s ease-in-out;
   -webkit-transition: transform .6s ease-in-out;

	        ul {
		        padding: 0 30px;
		        position: absolute;
		        top: 50%;
		        transform: translateY(-50%);
		       -webkit-transform: translateY(-50%);
                list-style-type: none;
	           }

	        li {
	            margin: 10px 0;
	           }

	         a {
	           color: #FFFFFF;
	           text-transform: uppercase;
	           text-decoration: none;
	           font-size: 20px;
	           letter-spacing: .070em;
	           font-weight:800;
               }

	
          }


.navigation-btn
{
    display: none;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 20;
  cursor: pointer;
    
	.barre {
	       width:30px;
	       height: 3px;
	       background: #FFF;
	       margin-top: 4px;
	       }
}







}


  


  


