* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	position: fixed;

	a {
		color: #000000;
	}
}

.titre {
	background-image: url("../img/me.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
